@model ICollection<RecordOFXSubGroup>
@{
    ViewData["Title"] = "Subgroups";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div>
                @if (ViewBag.Subgroup.ParentId != null)
                {
                    <h1 class="mb-4">@(Enum.GetName(typeof(RecordOFXGroup), @Model.Select(x => (int)x.Group)
                    .FirstOrDefault())) -> @ViewBag.Subgroup.Parent.Description -> @ViewBag.Subgroup.Description</h1>
                    <a class="btn btn-secondary" href="/RecordOFXSubGroup/IndexChildrens/@ViewBag.Subgroup.ParentId">Back</a>
                }
                else
                { 
                    <h1 class="mb-4">@(Enum.GetName(typeof(RecordOFXGroup), @Model.Select(x => (int)x.Group)
                    .FirstOrDefault())) -> @ViewBag.Subgroup.Description</h1>
                        <a class="btn btn-secondary" href="/RecordOFXSubGroup/IndexSubGroup/@((int)ViewBag.Subgroup.Group)">Back</a> @*Group´eh um enum*@
                }
                <a class="btn btn-primary" href="/RecordOFXSubGroup/CreateSubChildren/@ViewBag.Subgroup.Id">Add</a>
            </div>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Direct Childrens</th>
                        <th>Total Childrens</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RecordOFXSubGroup subgroup in Model)
                    {
                        @if (subgroup.ParentId == ViewBag.Subgroup.Id)
                        {
                                <tr>
                                    <td>@subgroup.Description</td>
                                    <td>@subgroup.ChildRecordsOFXes.Count()</td>
                                    <td>@subgroup.ChildRecordsOFXes.Count()</td>
                                    <td>
                                        <a class="btn btn-primary" href="/RecordOFXSubGroup/IndexChildrens/@subgroup.Id">Childrens</a>
                                        <a class="btn btn-secondary" href="/RecordOFXSubGroup/Update/@subgroup.Id">Edit</a>
                                        @*chama o modal que esta no _layout*@
                                        @if(subgroup.CanDelete)
                                        {
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" data-delete-url="/RecordOFXSubGroup/Delete/@subgroup.Id">Delete</button>
                                        }
                                    </td>
                                </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>