@using SFAccountingSystem.Core.Services;
@model RecordOFX

@inject RecordOFXSubGroupService recordOFXSubGroupService;

<tr title="@(Model.ApprovedAt.HasValue ? Model.ApprovedAt.Value.ToString("dd/MM/yyyy"): "n/a")"
    class="@(Model.ApprovedAt.HasValue ? "approved-row": "analysed-row")">
    <td>
        @Model.Date.ToString("dd/MM/yyyy")
    </td>
    <td>
        @Model.Value.ToString("c")
    </td>
    <td>
        <form method="post" action="RecordOFX/UpdateUser">
            <input type="hidden" asp-for="Id" />
            <select class="form-control-sm" asp-for="UserId" asp-items="ViewBag.Users" required>
                <option></option>
            </select>
            <button class="btn btn-success btn-sm">U</button>
        </form>
    </td>
    <td>
        <form method="post" action="RecordOFX/UpdateGroup">
            <input type="hidden" asp-for="Id" />
            <select class="form-control-sm" asp-for="Group" asp-items="ViewBag.Groups" required>
                <option></option>
            </select>
            <button class="btn btn-success btn-sm">U</button>
        </form>
    </td>
    <td>
        @if (Model.Group.HasValue)
        {
            var subGroups = new SelectList(await recordOFXSubGroupService.List(Model.Group.Value), "Id", "Description");

            <form method="post" action="RecordOFX/UpdateSubGroup">
                <input type="hidden" asp-for="Id" />
                <select class="form-control-sm" asp-for="SubGroupId" asp-items="subGroups" required>
                    <option></option>
                </select>
                <button class="btn btn-success btn-sm">U</button>
            </form>
        }
    </td>
    <td>
        @Model.Details
    </td>
    <td>
        @(Model.Bank.ToName<RecordOFXBank>())
    </td>
    <td>
        @(Model.Type.ToName<RecordOFXType>())
    </td>
    <td>
        @if (!Model.ApprovedAt.HasValue)
        {
            <a onclick="return confirm('Are you sure?')"
               class="btn btn-warning btn-sm"
           asp-action="Approve"
            asp-route-id="@Model.Id">Approve</a>
        }
        else
        {
            <a onclick="return confirm('Are you sure?')"
               class="btn btn-danger btn-sm"
           asp-action="Approve"
           asp-route-id="@Model.Id">Undo</a>
        }
    </td>
</tr>