@model List<RecordOFX>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-4">
                @Html.Raw(ViewData["SubTitle"])
            </h3>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" id="Ofx" name="Ofx" required />
                <select id="Bank" name="Bank" asp-items="ViewBag.Banks">
                    <option></option>
                </select>
                <input type="submit" class="btn btn-success" value="Enviar" />
            </form>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Group
                        </th>
                        <th>
                            SubGroup
                        </th>
                        <th>
                            Details

                        </th>
                        <th>
                            Bank
                        </th>
                        <th>
                            Type
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr title="@(item.ApprovedAt.HasValue ? item.ApprovedAt.Value.ToString("dd/MM/yyyy"): "n/a")"
                            class="@(item.ApprovedAt.HasValue ? "approved-row": "analysed-row")">
                            <td>
                                @item.Date.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.Value.ToString("c")
                            </td>
                            <td>
                                @(item.User != null ? item.User.Name : "N/A")
                            </td>
                            <td>
                                @(item.Group != null ? item.Group.ToName<RecordOFXGroup>() : "N/A")
                            </td>
                            <td>
                                @(item.RecordOFXSubGroup != null ? item.RecordOFXSubGroup.Description : "N/A")
                            </td>
                            <td>
                                @item.Details
                            </td>
                            <td>
                                @(item.Bank.ToName<RecordOFXBank>())
                            </td>
                            <td>
                                @(item.Type.ToName<RecordOFXType>())
                            </td>
                            <td>
                                @if (!item.ApprovedAt.HasValue)
                                {
                                    <a onclick="return confirm('Are you sure?')"
                                       class="btn btn-warning btn-sm"
                                        asp-action="Approve"
                                        asp-route-id="@item.Id">Approve</a>
                                }
                                else
                                {

                                    <a onclick="return confirm('Are you sure?')"
                                       class="btn btn-danger btn-sm"
                                       asp-action="Approve"
                                       asp-route-id="@item.Id">Undo</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Styles {
    <style>
        .analysed-row {
            background-color: #f8d7da;
        }

        .approved-row {
            background-color: #d4edda;
        }
    </style>
}