@model List<Invoice>

@*<div class="row">
    <a class="btn btn-success" asp-area="" asp-controller="Intermediations" asp-action="New">New</a>
</div>*@
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Data criação
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        Invoice Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CreatedAt.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @if (item.Date.HasValue)
                            {
                                <span>@item.Date.Value.ToString("dd/MM/yyyy")</span>
                            }
                        </td>
                        <td>
                            @item.User.Name
                        </td>
                        <td>
                            @item.Value.ToString("n2")
                        </td>
                        <th>
                            @item.NrNumber
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
