@model Intermediation

@{
    ViewData["Title"] = "View a intermediation";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-4 text-center">@ViewData["Title"]</h1>
            <form method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" />

                <div class="mb-3">
                    <label class="form-label" for="Group">Client</label>
                    <select class="form-control" id="UserId" asp-for="UserId" asp-items="ViewBag.Users" required disabled>
                        <option></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Description">Intermediations</label>
                    @foreach (var item in Model.RecordsOFXes.GroupBy(x => x.UserId))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Data
                                    </th>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var e in item.ToList())
                                {
                                    <tr>
                                        <td>
                                            @e.Date.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @if (e.User != null)
                                            {
                                                <span>
                                                    @e.User.Name
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            @e.Value.ToString("c")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <h5>
                            <input type="checkbox" name="UserIds" value="@item.First().UserId" checked />
                            @item.First().User.Name: @item.ToList().Sum(x => x.Value > 0 ? x.Value : decimal.Negate(x.Value)).ToString("c")
                        </h5>

                        <hr />
                    }

                    <h3>Total value: @Model.RecordsOFXes.Sum(x => x.Value > 0 ? x.Value : decimal.Negate(x.Value)).ToString("c")</h3>
                </div>
                <div class="mb-3">
                    <label class="form-label">Intermediation value</label>
                    <input class="form-control" asp-for="Value" required />
                </div>
                <div class="mb-3">
                    <input class="btn btn-success w-100" type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>